body {
  color: white;
  font-family: Maximum Impact;
}

::-webkit-scrollbar{
  background-color: rgba(177, 177, 177, 0.4);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:horizontal{
  background-color: rgb(39, 39, 39);
  border-radius: 50px;
}